#home2{
	padding-top:0.92rem;
}
#home2 .homeSwiper{
	width: 100%;
	height:2.5rem;
	img{
		width: 100%;
		height: 2.5rem;
	}
}
#home2 .hot{
	width: 100%;
	img{
		width: 100%;
	}
}
#home2 .homeCatagory{
	width: 100%;
	img{
		width: 100%;
	}
}
